<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/Logo_verde-18.png" >
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 text-center">
                        <p>
                        Venid, nos casamos pronto<br>
                        vestid las mejores galas<br>
                        bailad, sin vergüenza alguna<br>
                        gritad a los cuatro vientos.<br>
                        <br>
                        Permitido hacer el tonto<br>
                        que nadie os corte las alas<br>
                        cantad, despertad la luna,<br>
                        pues estamos muy contentos.</p>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-center">
                        <p>
                        Celebremos los momentos<br>
                        en familia, entre iguales,<br>
                        se acabaron los finales<br>
                        el mejor de los inventos<br>
                        el ser feliz de los cuentos<br>
                        ha llegado a nuestra puerta<br>
                        aquí, el destino acierta.<br>
                        <br>
                        Bebed, agua, vino, soda<br>
                        pues no es una fiesta más:<br>
                        el diez de septiembre estás<br>
                        invitad@ a nuestra boda.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
