<section class="bg-primary" id="horario">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Horario</h2>
                <p class="text-faded">(Dícese de todo eso que tenías planeado pero luego a la hora de la verdad, ya tal)</p>
                <hr class="light">
            </div>
            <div class="table">
                <div class="row">
                    <p class="col-lg-4  table-time text-faded">12:30</p>
                    <p class="col-lg-8 table-activity">Ceremonia</p>
                </div>
                <div class="row">
                    <p class="col-lg-4  table-time text-faded">13:30</p>
                    <p class="col-lg-8 table-activity">¡Vivan los novios!</p>
                </div>
                <div class="row">
                    <p class="col-lg-4  table-time text-faded">14:30</p>
                    <p class="col-lg-8 table-activity">Banquete en los Torreones</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#lugares" class="btn btn-default btn-xl page-scroll">Perfecto, ¿Dónde está todo?</a>
            </div>
        </div>
    </div>
</section>
