<section class="bg-primary" id="how-to-arrive">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cómo ir de un sitio al otro</h2>
                <hr class="light">
                <p class="text-faded">Haz click en los dibujos para ver cómo llegar con cada medio de transporte</p>
            </div>
        </div>
    </div>   
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-lg-6 col-sm-6">
            <a href="https://www.google.com/maps/d/edit?mid=1watcDs1B_WcmLbx8qU9usqwHsZM0jnwL&usp=sharing" class="portfolio-box">
                <img src="img/car.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            En coche
                        </div>
                    </div>
                </div>
            </a>
            <hr>
            <p class="text-faded text-center">Direcciones Parroquia Santísima Trinidad - Los Torreones</p>
        </div>
        <div class="col-lg-6 col-sm-6">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeR3N2RScAflmkkIy_QjiYKdW_yVPJqHSoYiiBtmkBhp-qBOA/viewform?usp=sf_link" class="portfolio-box">
                <img src="img/red-bus.jpg" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            En Autobus
                        </div>
                    </div>
                </div>
            </a>
            <hr>
            <p class="text-faded text-center">Apúntate a nuestro servicio de Autobús!</p>
        </div>
    </div>
</div>
</section>