<section id="lugares">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Lugares</h2>
                    <hr>
                    <p class="text-faded-grey">Haz click en los sitios para ver la localización en el mapa</p>
                </div>
            </div>
        </div>   
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <a href="https://goo.gl/maps/EjPqhN8AopYAuu5z7" class="portfolio-box">
                    <img src="img/parroquia-de-la-santisima-trinidad-collado-villalba.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ceremonia
                            </div>
                            <div class="project-name">
                                Parroquia Santísima Trinidad
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="https://goo.gl/maps/6PFMoMeKBFMpDgdK9" class="portfolio-box">
                    <img src="img/torreones.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Comida
                            </div>
                            <div class="project-name">
                                Finca Los Torreones
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
