<section class="bg-secondary" id="outside">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¿Vienes de fuera?</h2>
                <p class="text-faded-grey">No te pierdas la información de dónde alojarse o qué visitar</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/hoteles" class="btn btn-primary btn-xl page-scroll">Hoteles cercanos para alojarse</a>
                <br><br>
                <a href="/consejos" class="btn btn-primary btn-xl page-scroll">Qué visitar</a>
            </div>
        </div>
    </div>
</section>