<section class="bg-primary" id="what-to-visit">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Lugares a visitar alrededor</h1>
                <hr class="light">
                <p class="text-faded">Esto es una lista de lugares que nos gustan alrededor de Madrid. El objetivo es dar ideas de qué hacer cerca de Madrid, si es vuestra primera vez pr Madrizz.</p>
            </div>
        </div>
        <div class="row list-places">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Madrid</h1>
            </div>
            <iframe src="https://www.google.com/maps/d/embed?mid=1FUuL1eT4IrcVr6NZWigN1_2wkUaUrtkB&hl=es&ehbc=2E312F" class="map-places"></iframe>
        </div>


        <div class="row list-places">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Ciudades</h1>
            </div>
        </div>
        <div class="row list-places">
                <img src="img/cities/Toledo.jpg" class="img col-lg-4" alt="">
                <div class="place-content col-lg-6">
                    <p class="subtitle">Toledo</p>
                    <p class="description">Impresionante ciudad medieval<br /></p>
                </div>
        </div>
        <div class="row list-places">
                <img src="img/cities/Avila.jpg" class="img col-lg-4" alt="">
                <div class="place-content col-lg-6">
                    <p class="subtitle">Ávila</p>
                    <p class="description">La muralla más grande de España<br /></p>
                </div>
        </div>
        <div class="row list-places">
                <img src="img/cities/Alcala-de-henares.png" class="img col-lg-4" alt="">
                <div class="place-content col-lg-6">
                    <p class="subtitle">Alcalá de Henares</p>
                    <p class="description">La cuna de Cervantes<br /></p>
                </div>
        </div>
        <div class="row list-places">
            <img src="img/cities/Aranjuez.jpg" class="img col-lg-4" alt="">
            <div class="place-content col-lg-6">
                <p class="subtitle">Aranjuez</p>
                <p class="description">Un palacio y sus jardines<br /></p>
            </div>
        </div>
        <div class="row list-places">
            <img src="img/cities/san-lorenzo-del-escorial.jpg" class="img col-lg-4" alt="">
            <div class="place-content col-lg-6">
                <p class="subtitle">San Lorenzo del Escorial</p>
                <p class="description">Monasterio y tumba de reyes. El valle de los caídos --> monumento de la guerra civil.<br /></p>
            </div>
        </div>
        <div class="row list-places">
            <img src="img/cities/Segovia.jpg" class="img col-lg-4" alt="">
            <div class="place-content col-lg-6">
                <p class="subtitle">Segovia</p>
                <p class="description">Acueducto y alcázar<br /></p>
            </div>
    </div>
        <div class="row list-places">
                <img src="img/cities/granja-san-ildefonso.jpg" class="img col-lg-4" alt="">
                <div class="place-content col-lg-6">
                    <p class="subtitle">La granja de San Ildefonso</p>
                    <p class="description">Un palacio y sus jardines<br /></p>
                </div>
            <iframe src="https://www.google.com/maps/d/embed?mid=1UhcwAE3FqWTzu-KZ9gXbsGyvYj8UOmY6&hl=es&ehbc=2E312F" class="map-places"></iframe>
        </div>


        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn btn-default btn-xl page-scroll text-center">¿Necesitas algún consejillo? ¡Contáctanos!</a>
            </div> 
        </div>
    </div>
</section>
