
<section class="bg-secondary" id="where-to-stay">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h1 class="section-heading">Hoteles cercanos dónde alojarse</h1>
        <hr/>
        <p class="text-faded-grey">
          Haz click en las imágenes para ver la página de Reserva de cada hotel
        </p>
      </div>
      <br><br>
      </div>
      <div class="row" id="hotels-around">
          <div class="col-lg-8 col-lg-offset-2 text-center">
          </div>
      </div>
    </div>
  </div>

  
</section>

<script type="text/javascript">
  // Get the elements to be iterated
  let htmlElements = [
    {
      url: "https://www.paxhoteles.com/es/hotel-pax-torrelodones/",
      location:"https://g.page/HotelPaxTorrelodones?share",
      address:"C. de Ribadeo, 28250 Torrelodones, Madrid",
      image: "img/hotels/PAX_Torre.jpg",
      name: "Hotel PAX Torrelodones",
      description: "16 min en coche a la iglesia <br> 5 min en coche desde Los Torreones <br> 8 min en coche a la Estación de Tren de Torrelodones",
    },
    {
      url: "https://www.hotelfcvillalba.com/",
      location:"https://g.page/hotelfcvillalba?share",
      address:"Carr. Navacerrada, Km 1,37, 28400 Collado Villalba, Madrid",
      image: "img/hotels/FC_Villalba.jpg",
      name: "Hotel FC Villalba",
      description: "8 min en coche a la iglesia<br> 11 min en coche desde Los Torreones<br> 11 min en coche a la Estación de Tren de Villalba",
    },
    {
      url: "http://hotelplazalasmatas.com/",
      location:"https://goo.gl/maps/wXot8NqRi8k1Fi8BA",
      address:"C. Martín Iriarte, 2F, 28290 Las Rozas de Madrid, Madrid",
      image: "img/hotels/Plaza_LasMatas.jpg",
      name: "Hotel Plaza Las Matas",
      description: "16 min en coche a la iglesia<br> 7 min en coche desde Los Torreones<br> 2 min andando a la Estación de Tren de Las",
    },
    {
      url: "https://www.eurostarshotels.co.uk/exe-gran-hotel-almenar.html",
      location:"https://g.page/exe-gran-hotel-almenar-madrid?share",
      address:"C. Jaraíz, 1, 28290 Las Rozas de Madrid, Madrid",
      image: "img/hotels/Exe_Gran_Hotel.png",
      name: "Exe Gran Hotel Almenar",
      description: "17 min en coche a la iglesia<br> 5 min en coche desde Los Torreones<br> 16 min andando a la Estación de Tren de Las Matas",
    },
    {
      url: "https://www.hotel-bb.com/en/hotel/madrid-pinar-las-rozas",
      location:"https://g.page/BBHotelPinarRozas?share",
      address:"Nacional VI, Km 22, 5, 28230 Las Rozas de Madrid, Madrid",
      image: "img/hotels/ByBPinar.jpg",
      name: "B&B Hotel Madrid Pinar de Las Rozas",
      description: "15 min en coche a la iglesia<br> 11 min en coche desde Los Torreones<br> 13 min andando a la Estación de Tren Pinar de Las Rozas",
    },
    {
      url: "hhttps://www.hotel-bb.com/en/hotel/madrid-las-rozas",
      location:"https://g.page/BBHotelMadridLasRozas?share",
      address:"Calle Perú, 2 , 28290 Las Rozas de Madrid, Madrid",
      image: "img/hotels/ByB_LasRozas.jpg",
      name: "B&B Hotel Madrid Las Rozas",
      description: "20 min en coche a la iglesia<br> 7 min en coche desde Los Torreones<br> 21 min andando a la Estación de Tren de Las Matas",
    },
  ];
  let outputElements = "";

  // Define a variable to keep track
  // of the current iteration
  let i = 0;
  let currentElement;

  // Check if the current value
  // is lesser than total elements
  while (i < htmlElements.length) {
    currentElement = htmlElements[i];
    outputElements += `<div class="col-lg-6 col-sm-4">
        <a href=${currentElement.url} class="portfolio-box">
          <img
            src=${currentElement.image}
            class="img-responsive"
            alt=${currentElement.name}
          />
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                ${currentElement.name}
              </div>
            </div>
          </div>
        </a>
        <br>
        <div class="text-center">
          <a href=${currentElement.location}>${currentElement.address}</a> 
          <br><br>
          <p class="text-faded-grey text-center">${currentElement.description}</p>
        </div>
      </div>`;
    // Increment the value
    i++;
  }
  document.getElementById("hotels-around").innerHTML += `
    <div class="container-fluid">
      <div class="row no-gutter">${outputElements}</div>
    </div>`;
</script>